<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Delete Product</title>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
</head>
<body>
<nav th:replace="adminMenuNav :: header">

</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<form action="#" th:action="@{/home/maintenance/deleteProduct}"
					th:method="POST">

					<h1>Delete Product</h1>

					<h6>Identification</h6>
					<input th:type="hidden" th:name="idProduct" th:text="${idProduct}"
						th:value="${idProduct}" /> <span th:each="p : ${products}">
						<h6>Name</h6>
						<label th:text="${p.productName}"></label>
						<h6>Stock Units</h6>
						<label th:text="${p.stockUnits}"></label>
						<h6>Price</h6>
						<label th:text="${p.price}"></label>
						<h6>Category</h6>
						<label th:text="${p.category.categoryName}"></label>
						<h6>Description</h6>
						<label th:text="${p.description}"></label>
						<h6>Image</h6> <span th:if="${p.images.length==0}"><td>No
								image</td></span> <span th:unless="${p.images.length==0}">
							<td th:each="img : ${p.images}"><img
								style="max-height: 100px" th:src="@{/images/}+${img}"></td>
					</span>



						<p>¿Are you sure?</p> <input type="submit" value="Delete">
				</form>
			</div>
		</div>
</body>
</html>