<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert a product</title>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
</head>
<body>
<nav th:replace="adminMenuNav :: header">

</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<form action="#" method="POST" enctype="multipart/form-data"
					th:object="${productForm}"
					th:action="@{/home/maintenance/editProduct}">

					<div class="form-group">
						<h1>Edit a product</h1>
					</div>

					<span th:each="p : ${products}">

						<div class="form-group">
							<label>Name</label> <input type="text" th:id="productName"
								th:name="productName" th:value="${p.productName}">
							<div th:if="${#fields.hasErrors('productName')}">Must enter
								a valid name</div>
						</div>

						<div class="form-group">
							<label>Stock Units</label> <input type="text" th:id="stockUnits"
								th:name="stockUnits" th:value="${p.stockUnits}">
							<div th:if="${#fields.hasErrors('stockUnits')}">Must enter
								at least one unit</div>
						</div>

						<div class="form-group">
							<label>Price</label> <input type="text" th:id="price"
								th:name="price" th:value="${p.price}">
							<div th:if="${#fields.hasErrors('price')}">Must enter a
								valid price</div>
						</div>

						<div class="form-group">
							<label>Category</label> <select th:name="categoryId"
								th:id="categoryId">
								<!--  <option th:selected="true" th:disabled="disabled"
									th:text="${p.category.categoryName}"
									th:value="${p.category.categoryId}"></option> -->
								<option th:each="category:${categories}"
									th:value="${category.categoryId}"
									th:text="${category.categoryName}"></option>

							</select>
						</div>

						<div class="form-group">
							<label>Description</label>
						</div> <textarea name="message" rows="5" cols="30" th:id="description"
							th:name="description" th:text="${p.description}"></textarea>


						<div class="form-group">
							<label>Image</label> <span th:if="${p.images.length==0}"><td>No
									image</td></span> <span th:unless="${p.images.length==0}">
								<td th:each="img : ${p.images}"><img
									style="max-height: 100px" th:src="@{/images/}+${img}"></td>
									
					</span>

					<div class="form-group">
						<input type="submit" value="Apply changes">
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>
