<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>My cart -YOYO</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="../static/shoppingCart.css" th:href="@{/shoppingCart.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav th:replace="menuNav :: header">
	
</nav>
<div class="container">
   <div class="table-responsive"  id="tableCart">
   <h2>My Shopping Cart</h2>
   	<table class="table table-striped">
   		<thead class="thead-dark">
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">Name</th>
		      <th scope="col">Price by unit</th>
		      <th scope="col">Quantity</th>
		      <th scope="col">Remove</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="cart: ${carts}">
		      <th scope="row"><span th:text="${cart.product.productId}"></span></th>
		      <td><span th:text="${cart.product.productName}"></span></td>
		      <td><span th:text="${cart.product.price}"></span></td>
		      <td><input type="number" th:value="${cart.quantity}"></td>
		      <td><a th:href="@{/store/shoppingCart/remove(productId=${cart.product.productId})}"class="btn btn-danger"><i class="fa fa-trash" style="font-size:18px"></i></a></td>
		    </tr>
		  </tbody>
   	</table>
   	<div class="form-group">
   		<label>Total: </label><span th:text="${totalPrice}"></span>
   	</div>
   </div>
   <button class="btn btn-success">Checkout</button>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>